$white: #ffffff;
$black: #000000;
$primary-btn: #6ca6cd;
$secondary-btn: #75c998;
$background: #f4f4f4;

$startpage-cards: #bee7d9;
$startpage-cards-links: #8a2be2;
$startpage-cards-links-show-all: #a52a2a;

$startpage-header: #f3ddd0;
$under-page-header: #af7f9f;
