$white: #ffffff;
$black: #000000;
$primary-btn: #6ca6cd;
$secondary-btn: #75c998;

$add-btn: #a685e2;
$add-btn-hover: #8b5cf6;

$background: #f4f4f4;

$startpage-cards: #bee7d9;
$startpage-cards-links: #8a2be2;
$startpage-cards-links-show-all: #a52a2a;

$startpage-header: #f3ddd0;
$under-page-header: #af7f9f;
$section-underpages: #f1e7e7;

$shadow-container: 2px 2px 5px rgba(60, 57, 57, 0.1);

$marked-as-done-gray: rgba(211, 211, 211);