@import "./partials-scss/_coloring.scss";
@import "./partials-scss/_mixins.scss";
@import "./layout/_sidebar.scss";
@import "./layout/_header.scss";
@import "./layout/_cards-index.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  background-color: $background;
}

main {
  @include flex($direction: column);
  width: 100vw;
  padding: 1rem 2rem;
  align-items: left;
}
