@import "../partials-scss/_coloring.scss";
@import "../partials-scss/_mixins.scss";

header {
  margin: 10px auto;
  width: 100%;
  border: 1px solid rgb(35, 35, 38);
  border-radius: 15px;
  padding: 30px;
  background-color: $startpage-header;
  box-shadow: $shadow-container;
}

.index-page-header {
  @include flex($direction: column, $align: flex-start);
  min-height: auto;
  margin-bottom: 40px;

  .h2-startpage {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .wrapper {
    @include flex($direction: row, $justify: space-between);
    width: 100%;

    .welcome-box {
      flex: 2;

      p {
        font-size: 1.5rem;
      }

      #user-name {
        font-style: italic;
      }
    }

    .quote-box {
      flex: 1;
      text-align: right;

      #quote {
        font-size: 1rem;
        letter-spacing: 2px;
        font-style: italic;
      }
    }
  }
}
