@import "../partials-scss/_coloring.scss";
@import "../partials-scss/_mixins.scss";

.filter-container {
  @include flex($direction: row, $justify: space-between);
  padding: 25px;
  background: $section-underpages;
  border-radius: 12px;
  box-shadow: $shadow-container;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.filter-options {
  @include flex($direction: row, $justify: space-between);
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.filter-title {
  font-size: 1.2rem;
  color: #615f5f;
  margin-left: 4px;
  margin-bottom: 10px;
}

.dropdown {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}

.checkbox-group {
  padding-top: 30px;
  @include flex($direction: column, $justify: space-between, $align: center);
  gap: 5px;
}

.add-button {
  background-color: $add-btn;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: $add-btn-hover;
  }
}

//pop-up höger del
.container-wrapper {
  @include flex($direction: row, $justify: space-between, $align: flex-start);
  gap: 50px;
  margin-top: 1.5rem;
}

.todos-right {
  box-shadow: $shadow-container;
  height: 450px;
  width: 50%;
  padding: 1rem 2rem;
  border: 1px solid rgb(218, 215, 215);
  position: relative;
}

.todos-right header {
  all: unset;
  font-size: 2rem;
}

#todo-popup-info {
  max-height: 100px;
  margin: 1rem 0 2rem 0;
}

#todo-popup-status {
  ul {
    all: revert;
    @include flex($direction: column);
    padding: 0;
  }

  li {
    all: revert;
    list-style: none;
    margin-bottom: 0.5rem;
  }
}

#todo-popup-btns {
  @include flex($direction: row, $justify: space-around);
  position: absolute;
  bottom: 3rem;
  right: 0;
  left: 0;
}

#todos {
  width: 50%;
}

#todos > ul {
  padding-left: 0;
}

#todos li {
  @include flex($direction: row, $align: flex-start);
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border: 0.5px solid rgb(218, 215, 215);
  border-radius: 2px;
  box-shadow: $shadow-container;
  text-transform: capitalize;
  
   &.done-todo {
    text-decoration: line-through;
    background-color: $marked-as-done-gray;
  }
}

#todos li:hover {
  background-color: plum;
  cursor: pointer;
}

#todos li.selected {
  background-color: plum;
}

.todo-wrapper {
  @include flex($direction: row, $align: center);
  gap: 10px;
}
